<title>PumperPal</title>
<meta charset="utf-8">
<meta name="description" content="Septic"/>
<meta name="author" content="Sal Casillas"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link href="favicon.png" type="/stylesheets/images/x-icon" rel="shortcut icon" />
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/screen.css">
<link rel="stylesheet" href="/stylesheets/screen.sass">
<link rel="stylesheet" href="/stylesheets/main.css">
<script src="/javascripts/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/functions.js"></script>
