<header class="main-header">
  <div class="container">
    <div class="header-content">
      <a href="index.html">
        <img src="/images/site-identity.png" alt="site identity" />
      </a>

      <nav class="site-nav">
        <ul class="clean-list site-links">
          <li>
            <a href="#">Our Why</a>
          </li>
          <li>
            <a href="#">How It Works</a>
          </li>
          <li>
            <a href="#">Team</a>
          </li>
          <li>
            <a href="#">Become A Partner</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
        </ul>

        <a href="#" class="btn btn-outlined">Logins</a>
      </nav>
    </div>
  </div>
</header>
